.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: var(--shadow-2);
  position: sticky;
  bottom: 0;
  background-color: var(--clr-bg-1);
  width: 100%;
}
