.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2000;
  padding: 1rem 4rem;
  box-shadow: var(--shadow-3);
  background-color: var(--clr-bg-1);
  width: 100%;
}

.title {
  font-size: 20px;
}
